DB_USER=any_user
DB_PASSWORD=veryZtronG-pasword!3984398429u8324jiosfdkfsdda$-test
DB_NAME=bookly_db
DB_HOST=localhost
DB_PORT=5432

DEBUG=False

JWT_SECRET_KEY=de7aa36ff588a10097b5bd434c5c9f71
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
